@page
@model higher_school_of_hooyomics.Views.Home.Login



<!DOCTYPE html>
<html>
    <head>
        <title>ВХОД</title>
        <link href="https://fonts.googleapis.com/css?family=Space+Mono&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="~/index.css">
    </head>
    <body>
        <div id="login-container">
            <h1>ВХОД</h1>
            <form>
                <input type="text" placeholder="Логин">
                <input type="password" placeholder="Пароль">
                <button>Войти</button>
            </form>
        </div>
    </body>
</html>