@page
@model higher_school_of_hooyomics.Views.Home.WhereModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
	<script src='http://code.jquery.com/jquery-2.1.1.min.js'></script>

	<title>Контакты</title>
	<link rel="stylesheet" type="text/css" href="~/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
	<script src="https://kit.fontawesome.com/92990b2768.js" crossorigin="anonymous"></script>
	<script src="main.js"></script>
	<script src="jquery-mousewheel-3.1.12/jquery.mousewheel.js"></script>
	
	
	
</head>
<body>
<div class="top">

	<div class="logo">
	<img src="logo.png">
	</div>

	<div class="reg">
	<button type="button" class="btn">Войти</button>
                <button type="button" class="btn">Зарегистрироваться</button>
      </div>	



		<div class="menu">
				<ul>
					<li><i class="fas fa-home"></i><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Главная</a></li>
					<li><i class="fas fa-book"></i><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Books">Книги</a></li>
					<li><i class="fas fa-paragraph"></i><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contacts">Об издательстве</a></li>
					<li><i class="fas fa-map-signs"></i><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Where">Контакты</a></li>
				</ul>
		</div>
</div>

<div class="glav">
	<div class="adress">
	<h4>Телефон издательства: </h4>
                                <p>+7(911)833-80-39 </p>
                                <br>
                                <h4>Почтовый адрес издательства: </h4>
                                <p>195273, Санкт-Петербург, пр. Науки 77/2 оф. 115</p>
                                <br>
                                <h4>Юридический адрес издательства: </h4>
                                <p>ООО "ПРОКДИ" 195197 г. Санкт-Петербург, ул. Минеральная, 13 литер К. </p>
    </div>
                                  
								<div class="map">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d143266.4428196219!2d30.402154495849874!3d60.00992362235835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469633d47ab99773%3A0x77f71cdb9b72dd4c!2z0YPQuy4g0JzQuNC90LXRgNCw0LvRjNC90LDRjywgMTMsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTUxOTc!5e0!3m2!1sru!2sru!4v1498588380342" width="600" height="450" frameborder="0" style="border:0" allowfullscreen="">
                                    </iframe>
                                    </div>
                             
</div>


</body>
</html>